.mn-filter__select {
  height: 40px;
  min-width: 130px;

  padding: 0 34px 0 12px;

  background-color: #111;
  border: 1px solid #303030;
  border-radius: 6px;

  color: #d4d4d8;
  font-size: 14px;

  outline: none;
  cursor: pointer;

  transition:
    border-color 120ms ease,
    background-color 120ms ease;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.mn-filter__select:hover {
  background-color: #161616;
  border-color: #404040;
}

.mn-filter__select:focus {
  border-color: #626262;
}

