.root {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  overflow: hidden;
}

.mn-header {
  flex-shrink: 0;
}

.content {
  flex: 1;
  min-height: 0;

  padding: 32px 40px;

  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 768px) {
    .content {
      padding: 24px 20px;
    }
  }
}